<h1>Songs#new</h1>
<p>Find me in app/views/songs/new.html.erb</p>
<!-- app/views/songs/new.html.erb -->

<%= form_with model: @song do |form| %>
  <%= form.label :instrument %>
  <%= form.collection_select :instrument_id, @instruments, :id, :name %>

  <%= form.label :key %>
  <%= form.collection_select :key_id, @keys, :id, :name %>

  <%= form.label :style %>
  <%= form.collection_select :style_id, @styles, :id, :name %>

  <%= form.submit %>
<% end %>
